<div class="row text-center">
    <div class="col-md-4">
         <img src="/images/meme1.jpeg" alt="meme Josep" class="rounded-circle">
        <h4 class="my-3 text-white">Josep</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
    </div>
    <div class="col-md-4">
         <img src="/images/meme2.jpeg" alt="meme Jordi" class="rounded-circle">
        <h4 class="my-3 text-white">Jordi</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
    </div>
    <div class="col-md-4">
        <img src="/images/meme3.jpeg" alt="meme Leti" class="rounded-circle">
        <h4 class="my-3 text-white">Leti</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
    </div>
</div>