<form action="/{{_id}}/createpost" method="POST" class="w-25 mx-auto m-5" enctype="multipart/form-data">

    <div class="mb-3">
            <label for="file" class="form-label text-white" >Add Meme</label>
            <input type="file" class="form-control-file" id="file" name="memeUrl" placeholder="Meme File">
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select name="category" id="category">
                <option value="Random">Random</option>
                <option value="Animals">Animals</option>
                <option value="WTF">WTF</option>
                <option value="Sports">Sports</option>
                <option value="Gaming">Gaming</option>
                <option value="Politics">Politics</option>
                <option value="News">News</option>
                <option value="Anime-Manga">Anime &/38 Manga</option>
                <option value="TV">TV</option>
                <option value="Classics">Classics</option>
            </select>
        </div>
        <div class="mb-3">
            <textarea class="form-control" placeholder="Description" id="description" name="description" style="height: 100px"></textarea>             
            <label for="description">Description</label>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
</form>


