
<div class="postBox">
<div class="container-fluid">
    <div class="row">
        <div class="blockColor singlePostUser">
            <a href="/:idUser" class="text-mymemeUser">{{username}}</a>
        </div>
        <hr></hr>
        <div class="blockColor">
            <img src={{memeUrl}} class="img-fluid singlePostImg" alt="meme">
        </div>
        <div class="blockColor">
            <h5 class="singlePostDate">{{date}}</h5>
            <p class="singlePostInfo">{{description}}</p>
        </div>
    </div>
</div>
</div>