body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #131313;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.bg-mymeme {
  background: linear-gradient(0deg, rgba(113,119,242,1) 0%, rgba(111,156,243,1) 100%);
  height: 15vh;
}

.text-mymeme {
  color: #7177f2;
  font-weight: bold;
}

.text-mymemeUser {
  color: #262b8a;
  font-weight: bold;
  text-decoration: none;
}

.logo {
  width: 40vw;
  max-width: 230px;
  min-width: 160px;

}

.divisor {
  height: 3vh;
}

.mainBodyText {
  color: white;
}

.posts-mymeme { 
  padding: 4px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.cardColorMyMeme {
  background: linear-gradient(0deg, rgba(49,52,110,1) 23%, rgba(112,142,191,1) 100%);
}

.singlePostUser {
  color: #1e226a;
  text-decoration: none;
  height: 7vh;
  text-align: center;
  padding-top: 10px;
  font-size: x-large;
}

.singlePostImg {
  width: 85vw;
  display: block;
  margin: auto;
}

.singlePostInfo {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 15px;
  font-size: medium;
  margin-left: 40px;
  margin-right: 40px;
}
.singlePostDate {
  margin-top: 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: small;
}

.postBox {
  background: linear-gradient(0deg, rgba(49,52,110,1) 23%, rgba(112,142,191,1) 100%);
  margin: 20px;
  border-radius: 20px;
  
}

.backgroundColorMyMeme {
  background-color: rgb(32, 32, 32);
  border-radius: 20px;
  padding: 20px;
}

.formsDiv {
  padding-top: 6%;
  margin: auto;
  width: 60vw;
  max-width: 570px;
  
}

.editPicUser {
  width: 30vw;
  display: block;
  margin: auto;
  padding: 20px;
  max-width: 370px;
}
.editTitle {
  text-align: center;
}
.header2 {
  height: 8vh;
  padding: 15px;
}
