<footer class="bg-light text-center text-white footer">
  <!-- Grid container -->
  <div class="container p-1 pb-0">
    <!-- Section: Social media -->
    <section class="mb-2">

      <!-- Linkedin Jordi-->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #55acee;"
        href="https://www.linkedin.com/in/jordi-martinez-casado-1592348a/"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

       <!-- Linkedin Josep-->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #ac2bac;"
        href="https://www.linkedin.com/in/josep-bardes/"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin Leti -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #0082ca;"
        href="https://www.linkedin.com/in/leticiasantospoveda/"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <!-- Github -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #333333;"
        href="https://github.com/JusiBP/myMeme"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
  </div>

  <!-- Copyright -->
  <div class="text-center p-2" style="background-color: rgba(113,119,242,1);">
    © Made by Vintage Team
  </div>
  <!-- Copyright -->
</footer>