{{!-- CONJUNTO COMPLETO DE NAVEGADOR --}}
 <nav class="navbar navbar-expand-lg bg-light bg-mymeme"> 
    {{!-- Contenedor "div" con tres hijos "div"--}}
<div class="container-fluid">
    
    {{!-- Menú --}}
    <div class="col">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item mt-2">
                    <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown mt-2">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                    <ul class="dropdown-menu bg-mymeme">
                        <li><a class="dropdown-item text-white" href="/category/All">All</a></li>
                        <li><a class="dropdown-item text-white" href="/category/Random">Random</a></li>
                        <li><a class="dropdown-item text-white" href="/category/Animals">Animals</a></li>
                        <li><a class="dropdown-item text-white" href="/category/WTF">WTF</a></li>
                        <li><a class="dropdown-item text-white" href="/category/Anime-Manga">Anime &#38 Manga</a></li>
                        <li><a class="dropdown-item text-white" href="/category/Sports">Sports</a></li>
                        <li><a class="dropdown-item text-white" href="/category/Gaming">Gaming</a></li>
                        <li><a class="dropdown-item text-white" href="/category/News">News</a></li>
                        <li><a class="dropdown-item text-white" href="/category/Politics">Politics</a></li>
                        <li><a class="dropdown-item text-white" href="/category/TV">TV</a></li>
                        <li><a class="dropdown-item text-white" href="/category/Classics">Classics</a></li>
                    </ul>
                </li>
                <li class="nav-item mt-2">
                    <a class="nav-link active text-white" aria-current="page" href="#">About Us</a>
                </li>
            </ul>
        </div>
    </div>

    {{!-- myMEME LOGO --}}
    <div class="col">
        <a class="navbar-brand position-absolute top-50 start-50 translate-middle" href="/"><img class="logo" src="../images/myMeme_LOGO.png" alt="myMeme_Logo"></a>
    </div>
   
    {{!-- Login / Sign in --}}
    <div class="col">
        <div class="container-fluid column text-end">
            <div>
                <a class="btn btn-light btn-sm text-mymeme mb-2" href="/login" role="button">Login</a>
            </div>
            <div>
                <a href="/signin" class="card-link m-0 p-0">Sign in</a>
            </div>
        </div>
    </div>  
</div>
</nav>