<form action="/signin" method="POST" enctype="multipart/form-data">
    {{#if errorMessage}}
        <div class="alert alert-danger" role="alert">
            {{errorMessage}}
        </div>
    {{/if}}
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="username" name="username">
        <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email">
        <label for="email">Email</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
        <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="passwordRepeat">
        <label for="floatingPassword">Repeat password</label>
    </div>
    <div class="mb-3">
        <label for="file" class="form-label text-white" >User Image</label>
        <input type="file" class="form-control-file" id="file" name="imageUser" placeholder="User Image">
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
    <a class="btn btn-link" href="/login">Already registered</a>
</form>